:root {
    box-sizing: border-box;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-accent-redish: #FB3B64;
    --color-accent-green: #55DFB4;
    --color-black: #000000;
    --color-secondary:#A5A5A5;
    --color-third: #F7F7F7;
    --color-white:#FFFFFF;
    font-family: "Open Sans", "Raleway", sans-serif;
}
header{
    width: 100vh;
}
.header{
    display:flex;
    width: 100%;
    border: 1px solid white;
    box-shadow: 1px 3px 6px #00000029;
    opacity: 1;
}
.container-header{
    width: 1352px;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
}

.logo {
    color: var(--color-primary);
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 300;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container-header ul{
    display:flex;
    justify-content: space-between;
    letter-spacing: 3px;
    padding:0;
}
.header_nav a{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: var(--color-secondary);
    display:inline-block;
    text-decoration:none;
}
.nav_link{
    border-bottom: 4px solid rgba(0 0 0 / 0%);
    padding: 28px 26px 22px;
    margin: 0 16px;
}
.nav_link:hover{
    border-color: var(--color-primary);
    color: var(--color-black);

}



/* w sekcji header pozostał mi do zrobienia niebieski pasek przy najechaniu na przycisk why us
 + ewentualnie sprawdzenie czy wszystkie detale są zastosowane
 Rozwiązanie: w html należało stworzyć klasę dla elementu odnośnika a i następnie dodać mu w css padding górny, prawy i dolny
 Następnie stworzyć pseudoklase do klasy nav(.nav_link:hover) i wczytać niezbędne kolory border i tekstu*/
